.scrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    }
    
.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: transparent;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #6c6b6b;
}